.header__additional-message {
  display: flex;
  height: $headerMessageH;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: $white;
  background-color: #001226;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all ease 0.5s;
  z-index: z('header') + 1;
  .message__content {
    position: relative;
    transition: transform ease 0.2s;
    padding-left: 20px;
    background: linear-gradient(
      45deg,
      #67cece 0%,
      #67cece 50%,
      #c4f0ef 51%,
      #c4f0ef 54%,
      #67cece 55%,
      #67cece 74%,
      #c4f0ef 75%,
      #c4f0ef 76%,
      #67cece 77%,
      #67cece 100%
    );
    background-size: 300% 100%;

    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: #26ffe6;

    animation: backgroundGradient 10s infinite linear;

    @keyframes backgroundGradient {
      0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  .message__arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    transition: all ease 0.2s;
    &:before,
    &:after {
      position: absolute;
      content: '';
      border-right: 2px solid #c32186;
      border-bottom: 2px solid #c32186;
      animation: arrow-wave 3s infinite;
    }
    &:before {
      width: 6px;
      height: 6px;
      transform: translate(-1px, -1px);
    }
    &:after {
      width: 8px;
      height: 8px;
      transform: translate(2px, 2px);
      animation-delay: -1.5s;
    }
  }

  @keyframes arrow-wave {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  &:hover {
    filter: brightness(1.4);
    .message__content {
      transform: translateX(-10px);
    }
    .message__arrow {
      left: 100%;
      transform: translateX(10px) rotate(-45deg);

    }
  }
}
