.header {
  @include z-depth-2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: $headerH;
  padding-top: $headerMessageH;
  width: 100%;
  background-color: var(--bg);
  z-index: z('header');
  transition: all ease 0.2s;

  .header__logo,
  .header__nav,
  .header__search,
  .header__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    @if $headerMessageH == 0 {
      height: $headerH;
    } @else {
      height: $headerH - $headerMessageH;
    }
  }

  .header__logo {
    width: 300px;
  }

  .logo__spider,
  .logo__text {
    display: inline-block;
    vertical-align: middle;
  }

  .logo__circle {
    margin: 0 15px;
    width: 60px;
    height: 60px;
    background-color: var(--logo-bg);
    border-radius: 50%;
    position: relative;
  }

  .logo__spider {
    height: auto;
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .logo__text {
    height: 20px;
    width: auto;

    path {
      fill: $lightblue;
    }
  }

  .header__logo {
    border-right: 1px solid $grey;
  }

  .header__social {
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;

    span[class^='icon-'],
    span[class*=' icon-'] {
      padding: 0 8px;
      color: $lightblue;
      font-size: 2em;
      transition: all ease 0.2s;

      &:hover {
        color: $blue;
      }
    }
  }

  .search.header__search {
    flex: 1;
  }

  .menu-item {
    position: relative;
    transition: all ease 0.2s;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    .menu-item__link {
      color: var(--text);
      padding: 0 15px;

      i,
      span {
        transition: all ease 0.2s;
        line-height: $headerH;
        font-size: $text-medium;
      }

      span {
        color: inherit;
        font-weight: $light;
        text-transform: uppercase;
      }

      span[class^='icon-'],
      span[class*=' icon-'] {
        margin-left: 10px;
        color: $lightblue;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 0;
        opacity: 1;
        background-color: $blue;
        transform: translateX(-50%);
        transition: all ease 0.3s;
      }
    }

    .menu-item__submenu {
      position: absolute;
      left: 0;
      top: calc(100% - 20px);
      display: table;
      text-align: left;
      border-top: 5px solid $lightblue;
      opacity: 0;
      min-width: 100%;
      transform: scale(0);
      transform-origin: top;
      transition: top ease 0.2s, opacity ease 0.2s, transform 0s 0.3s;

      .submenu__item {
        @include z-depth-4;
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid $grey;
        white-space: nowrap;
        font-weight: $normal;
        font-size: $text-small;
        background-color: var(--bg);
        color: var(--text);
        transition: all ease 0.2s;

        &:hover {
          background-color: var(--contrast-bg);
          color: var(--contrast-text);
        }
      }
    }
  }

  .menu-item.current {
    &:not(.withSubmenu) {
      cursor: default;

      & > .menu-item__link {
        cursor: default;
      }
    }

    & > .menu-item__link {
      color: var(--link);

      &:after {
        height: 4px;
        opacity: 1;
      }
    }
  }

  .menu-item:hover {
    .menu-item__submenu {
      transition: top ease 0.2s 0.2s, opacity ease 0.2s 0.2s;
      opacity: 1;
      transform: none;
      top: calc(100% - 4px);

      & > .menu-item__link {
        & > span[class^='icon-'],
        span[class*=' icon-'] {
          transform: rotate(-180deg);
        }
      }
    }

    &:not(.current) {
      background-color: var(--contrast-bg);

      & > .menu-item__link {
        & > span {
          color: var(--contrast-text);
        }
      }
    }
  }

  @include mq($max-width: $vw-huge) {
    .menu-item > .menu-item__link {
      padding: 0 10px;
    }
  }

  @include mq($max-width: $vw-mobile-menu) {
    .header__nav,
    .header__social {
      display: none;
    }

    .switch-theme {
      margin-right: 70px;
    }

    .search.header__search {
      padding-right: 100px;
    }
  }

  @include mq($max-width: $vw-medium) {
    .search.header__search {
      display: none;
    }

    .header__logo {
      padding-left: 0;
      width: auto;
      border-right: none;
    }
  }

  // expand search block for specific resolutions
  @include mq($min-width: $vw-huge + 1, $max-width: 1300px) {
    .search.header__search {
      width: 20px;
    }

    .search.header__search form {
      width: 0;
      opacity: 0;
    }

    &.expand-search {
      .search.header__search {
        width: auto;
      }

      .search.header__search form {
        width: 100%;
        opacity: 1;
        transition: all ease 0.3s;
      }

      .header__nav {
        width: 0;
        opacity: 0;
        overflow: hidden;
      }
    }
  }

  @include mq($min-width: $vw-medium) {
    .header__logo,
    .header__social {
      height: 50px;
    }
  }

  @include mq($max-width: $vw-small) {
    height: $mobileHeaderH;
    .logo__circle,
    .logo__spider {
      width: $mobileHeaderH - 10px;
      height: $mobileHeaderH - 10px;
    }

    .header__logo,
    .header__nav,
    .header__search,
    .header__social {
      height: $mobileHeaderH;
    }

    .logo__text {
      height: 15px;
    }
  }

  @include mq($max-width: 350px) {
    .header__logo {
      padding: 0 20px;
    }

    .logo__circle,
    .logo__spider {
      display: none;
    }
  }
}
