$message-background: #001226;
$message-color: #2ce6e6;
$message-arrow-color: #c32186;
$message-animation-duration: 30s;

.header__additional-message {
  display: flex;
  height: $headerMessageH;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: $message-background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: filter ease 0.5s;
  z-index: z('header') + 1;
  &:after,
  &:before {
    content: '';
    width: calc((100% - 800px) / 2);
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  &:before {
    left: 0;
    background: linear-gradient(90deg, $message-background 0%, $message-background 10%, transparent);
  }
  &:after {
    right: 0;
    background: linear-gradient(-90deg,  $message-background 0%, $message-background 10%, transparent);
  }
  .message__content {
    z-index: 1;
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: none;
    transition: transform ease 0.2s;
    color: $message-color;
    animation: move $message-animation-duration infinite linear;
    & > * {
      white-space: nowrap;
      margin-right: 25vw;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @keyframes move {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-100% / 3));
      }
    }
  }

  .message__arrow {
    transform: rotate(-45deg);
    transition: all ease 0.2s;
    position: relative;
    margin-right: 20px;
    &:before,
    &:after {
      position: absolute;
      content: '';
      border-right: 2px solid $message-arrow-color;
      border-bottom: 2px solid $message-arrow-color;
      animation: arrow-wave 3s infinite;
    }
    &:before {
      width: 6px;
      height: 6px;
      transform: translate(-1px, -1px);
    }
    &:after {
      width: 8px;
      height: 8px;
      transform: translate(2px, 2px);
      animation-delay: -1.5s;
    }
  }

  @keyframes arrow-wave {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  &:hover {
    filter: brightness(2);
  }
}
