.card__policy {
  display: block;
  color: var(--text);
  padding: 20px 50px;
  transform: translateY(-50px);

  .policy__intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-size: $text-small;
    font-weight: $bold;

    .intro__image {
      padding: 20px;
      img {
        width: 300px;
      }
    }
    p {
      flex: 1;
    }
  }

  p {
    margin-bottom: 15px;
  }

  p,
  li {
    text-align: justify;
    font-size: $text-small;
  }

  li {
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 0;

    list-style-type: circle;
  }

  h2 {
    margin-bottom: 10px;
    line-height: 1;
  }

  p + h2,
  ul + h2 {
    margin-top: 40px;
  }

  @include mq($max-width: $vw-medium) {
    padding: 20px;
    .policy__intro {
      flex-direction: column;
      .intro__image {
        img {
          width: 200px;
        }
      }
    }
  }
}
