.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $menuW;
  z-index: z("sidemenu");
  background-color: var(--bg);
  transition: transform ease .5s;
  @include mq($min-width: $vw-mobile-menu + 1) {
    display: none;
  }

  &:not(.open) {
    transform: translateX(100%);
  }

  .side-menu__top {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    text-align: center;

    .side-menu__logo {
      padding: 10px 0;
    }

    .logo__circle,
    .logo__text {
      display: inline-block;
      vertical-align: middle;
    }

    .logo__circle {
      width: 40px;
      height: 40px;
      background-color: $clearblue;
      border-radius: 50%;
      position: relative;
    }

    .logo__spider {
      height: auto;
      width: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .logo__text {
      height: 20px;
      margin-left: 10px;

      path {
        fill: $white;
      }
    }

    .side-menu__search {
      padding: 10px 20px;
      border-top: 1px solid $lightblue;
      display: none;
      align-self: flex-end;

      .search__icon {
        color: $white;
      }
    }
  }

  .side-menu__nav {
    padding: 10px 0;
    height: calc(100vh - 150px);
    overflow: auto;
    border-left: 5px solid var(--contrast);
  }

  .menu-item {
    padding: 15px 20px;
    font-size: $text-big;

    &.current {
      background-color: var(--light-bg);

      & > .menu-item__link {
        color: var(--link);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $clearblue;
    }

    &.withSubmenu {
      & > .menu-item__link {
        span {
          opacity: .5;
          font-size: $text-small;
          text-transform: uppercase;

          &:before {
            content: "// ";
          }
        }

        span[class^='icon-'], span[class*=' icon-'] {
          display: none;
        }
      }

      .menu-item__submenu {
        padding-left: 15px;
        font-size: $text-medium;

        & > .submenu__item {
          padding: 3px 0;
          display: block;
        }
      }
    }

    &.menu-item__social span[class^='icon-'], span[class*=' icon-'] {
      padding: 0 10px;
      color: $lightblue;
      font-size: 2em;
      transition: all ease .2s;

      &:hover {
        color: $blue;
      }
    }
  }
  @include mq($max-width: $vw-medium, $min-width: $vw-small) {
    .side-menu__top .side-menu__search {
      display: flex;
    }
  }
}
