.switch-theme {
  display: flex;
  margin: 0 30px 0 30px;

  input[type='checkbox'] {
    height: 0;
    width: 0;

    visibility: hidden;

    & + label {
      .switch-theme__icon {
        left: 0%;
      }
    }
  }

  input:checked + label {
    .switch-theme__icon {
      left: 100%;
    }
  }

  .switch-theme__label {
    position: relative;
    display: block;

    width: 30px;
    height: 16px;
    border-radius: 20px;

    background: $clearblue;

    cursor: pointer;
  }
  .switch-theme__icon {
    @include z-depth-2;

    position: absolute;
    top: 50%;

    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 50%;

    background: $blue;

    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: left ease 0.3s;

    body.dark & {
      background: $lightblue;
    }

    .sun,
    .moon {
      position: absolute;
      left: 50%;
      top: 50%;

      height: 75%;

      transform: translate(-50%, -50%);
      transition: all ease 0.5s;

      path,
      circle {
        fill: var(--bg);
      }
    }

    .sun {
      body.dark & {
        transform: translate(-50%, -50%) scale(0) rotate(90deg);
      }
    }

    .moon {
      body.light & {
        transform: translate(-50%, -50%) scale(0) rotate(-90deg);
      }
    }
  }
}
