# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/public/images/wallpapers/*.jpg
/public/images/logos/*.png
/public/images/colouring/mini/*.jpg

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

data/docs

public/schema/metadata/*.xsd

app/playground/utils/php-web.mjs
app/playground/utils/php-web.wasm
public/php-web.data
public/php-web.wasm

.phive/
core.temp/
core/
docs.temp/
php-wasm/
tools/pdg
