{ "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "react/no-multi-comp": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0
  },
  "plugins": [
    "react", "import"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "__PRISMJS_LANGUAGES__": true,
    "__GITHUB_DOCUMENTATION_REPOSITORY__": true,
    "__GITHUB_DOCUMENTATION_BRANCH__": true,
    "__DATA_PATH__": true,
    "__GOOGLE_ANALYTICS_ID__": true,
    "socket": true,
    "webpackIsomorphicTools": true,
    "twttr": true
  }
}
