.home__ecosystem {
  z-index: z("default");
  text-align: center;
  background-color: $lightgrey;

  .ecosystem__title {
    strong {
      color: $blue;
    }
  }

  .ecosystem__card {
    .card__title {
      margin-top: 15px;
    }

    p {
      margin: 20px 0;
    }
  }
  @include mq($min-width: $vw-large+1) {

    .ecosystem__card {
      &.big {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .card__title {
          margin-top: 0;
        }

        .ecosystem__button {
          text-align: left;

          .button__content {
            font-size: 1.8rem;
            padding: 12px;
          }
        }
      }
    }
  }

}
