.home__ecosystem {
  z-index: z("default");
  text-align: center;
  color: var(--text);
  background-color: var(--contrast-bg);

  .ecosystem__title {
    strong {
      color: var(--contrast-title);
    }
  }

  .ecosystem__card {
    .card__title {
      margin-top: 15px;
    }

    p {
      margin: 20px 0;
    }
  }
  @include mq($min-width: $vw-large+1) {
    .ecosystem__card {
      &.big {
        flex-direction: row;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .card__content {
          align-items: flex-start;
          text-align: left;
          padding-left: 20px;
        }

        .card__title {
          margin-top: 0;
        }
      }
    }
  }
}
