@mixin grayscale-effect($initialOpacity: 0.8) {
  filter: grayscale(100%);
  opacity: $initialOpacity;
  transition: all ease-out 0.3s;
  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
}

.home__references {
  z-index: z('default');
  background-color: var(--bg);
  text-align: center;

  .references__title {
    margin-bottom: 10px;
    color: var(--text);

    strong {
      color: var(--contrast-title);
    }
  }

  .references__subtitle {
    display: inline-flex;

    border: 1px solid var(--title);
    padding: 0 5px;

    color: var(--title);

    text-transform: uppercase;
  }

  .references__list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &.list__other {
      align-items: center;
    }
  }

  .list__item {
    display: flex; // required for forcing flex grid items to fit same height
  }

  .references__item {
    display: flex;
    align-items: center;
    &:not(.big) {
      @include grayscale-effect(0.5);
      padding: 15px;
      width: calc(100% / 6);

      // specific effect for darkmode
      body.dark & {
        filter: grayscale(100%) contrast(1.5) brightness(0.5) invert(1);
      }
      &:hover {
        body.dark & {
          filter: grayscale(100%) contrast(1.5) brightness(0.5) invert(1);
        }
      }

      img {
        max-width: 90%;
      }
    }
    &.big {
      @include grayscale-effect(0.8);
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      margin: 15px;
      background-color: var(--focus);
      width: 160px;
      .item__image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }

      img {
        width: 100%;
      }

      .logo__title {
        text-transform: uppercase;
        font-weight: $bold;
      }
    }
  }

  h3 {
    margin: 40px auto 15px;
    color: $white;
  }
  @include mq($max-width: $vw-large) {
    .references__item:not(.big) {
      width: 20%;
    }
  }
  @include mq($max-width: $vw-medium) {
    .references__item:not(.big) {
      width: 25%;
    }
  }
  @include mq($max-width: $vw-small) {
    .references__list {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .references__item:not(.big) {
      width: 50%;
    }
  }
}
