@config "../common.tailwind.config.js";
@import "icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    strong {
        @apply font-semibold;
    }
    pre > code {
        @apply grid;
    }
    code a {
        @apply !text-[#1976D2] dark:!text-[#E5C07B];
    }
    img {
        @apply max-w-none;
    }
}

@layer components {
    .link {
        @apply font-semibold text-blue transition-all hover:brightness-125 dark:text-blue-light;
    }
    .dark *[data-theme="light"] {
        @apply hidden;
    }
    .light *[data-theme="dark"] {
        @apply hidden;
    }
    .light .dark *[data-theme="dark"] {
        @apply block;
    }
    .light .shiki.one-dark-pro {
        @apply hidden;
    }
    .dark .shiki.github-light {
        @apply hidden;
    }
    .doc pre {
        @apply text-sm whitespace-pre-wrap leading-relaxed bg-gray-100 dark:bg-blue-darkest rounded-2xl mt-2 mb-4 overflow-x-auto;
    }
    .doc pre > code > pre {
        @apply p-0 m-0 !bg-transparent;
    }
    .doc code {
        @apply whitespace-pre-wrap break-words;
    }
    .doc pre > code {
        @apply break-normal;
    }
    .doc a {
        @apply text-blue;
    }

}

@layer utilities {
    .clip-path-corner-left {
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }
    .clip-path-corner-right {
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    .clip-path-triangle-bottom {
        clip-path: polygon(100% 100%, 100% 0%, 50% 100%, 0% 0%, 0% 100%);
    }
}
