@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

.conf {
  --blackblue: #001226;
  --blackblue-rgb: #{hexToRGB(#001226)};

  --blue: #2FC1C1;
  --darkblue: #405e66;
  --pink: #c32186;
  --lightgrey: #eff4f7;
}
