.conf {
  * {
    font-family: 'Raleway', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: 'Poppins', sans-serif;
    color: inherit;
  }

  h1,
  .h1 {
    font-size: 120px;
    font-weight: 900;
  }

  h2,
  .h2 {
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    strong {
      font-weight: 900;
      color: inherit;
    }
    @include mq($max-width: $vw-small) {
      font-size: 45px;
    }
  }

  h3,
  .h3 {
    font-size: 40px;
    text-transform: uppercase;
  }

  h4,
  .h4 {
    font-size: 28px;
    text-transform: uppercase;
  }

  h5,
  .h5 {
    font-size: 22px;
    text-transform: uppercase;
  }

  h6,
  .h6 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }

  p,
  div,
  span {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }

  .overline {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--darkestblue);
  }
  .body2 {
    font-size: 14px;
    line-height: 1.2;
  }

  p {
    margin-bottom: 10px;
    span,
    strong {
      font-size: inherit;
    }
  }

  a {
    color: var(--darkblue);
    cursor: pointer;
    &:hover {
      color: var(--blue);
    }
  }
}
