@mixin conf-gradient {
  background: radial-gradient(ellipse farthest-corner at 52% 160%, rgba(213, 33, 137, 0.8), transparent 50%),
    radial-gradient(at right 60%, rgba(17, 229, 240, 0.3), transparent 50%),
    radial-gradient(circle at 75% 50%, rgba(17, 230, 240, 0.2), transparent 50%), var(--blackblue);
}

@mixin blue-gradient {
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 120%), var(--blue) ;
}

@mixin blue-gradient-linear {
  background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%), var(--blue);
}

