// SETTINGS
@import './settings/colors';
@import './settings/dimensions';
@import './settings/fonts';
@import './settings/icons';

// TOOLS
@import './tools/animations';
@import './tools/links';
@import './tools/medias';
@import './tools/shadows';
@import './tools/effects';
@import './tools/viewportSizes';
@import './tools/zindex';
@import './tools/con';

// GENERIC
@import '~normalize.css';
@import './generic/reset';

// ELEMENTS
@import './elements/body';
@import './elements/headings';
@import './elements/links';
@import './elements/code';
@import './elements/tables';

// OBJECTS
@import './objects/accessibility';
@import './objects/buttons';
@import './objects/container';
@import './objects/cards';
@import './objects/grid';
@import './objects/avatar';
@import './objects/modal';
@import './objects/preheader';

// VENDOR
@import './vendor/algolia';

// COMPONENTS
@import './components/page';
@import './components/header';
@import './components/headermessage';
@import './components/footer';
@import './components/sidemenu';
@import './components/search';
@import './components/policy';
@import './components/home/index';
@import './components/community/index';
@import './components/docs';
@import './components/resources/index';
@import './components/notfound';
@import './components/switchtheme';


// UTILITIES
@import './utilities/colors';
@import './utilities/texts';
@import './utilities/global';

