<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>API Platform: API-first PHP framework for modern web projects</title>
    <meta name="description" content="A PHP framework dedicated to hypermedia API creation.">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ApiPlatform">
    <meta name="twitter:title" content="API Platform: API-first PHP framework for modern web projects">
    <meta name="twitter:description" content="A PHP framework dedicated to hypermedia API creation.">
    <meta name="twitter:image" content="https://api-platform.com/images/api-platform-logo-500x500.02f24cfd.png">
    <meta property="og:image" content="https://api-platform.com/images/api-platform-logo-500x500.02f24cfd.png">
    <meta property="og:image:secure_url" content="https://api-platform.com/images/api-platform-logo-500x500.02f24cfd.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/prism/themes/prism.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="apiPlatformWebsite" ng-controller="LayoutCtrl">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div id="header-container" class="container" ng-class="reducedClass">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/" ng-click="navCollapsed = true">API Platform</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="/download" ng-click="navCollapsed = true"><span class="fa fa-download"></span> Download</a></li>
                <li><a href="/doc/" ng-click="navCollapsed = true"><span class="fa fa-book"></span> Doc</a></li>
                <li class="logo"><a href="/" ng-click="navCollapsed = true"><img src="/images/logo-header.png" alt="API Platform" width="173"></a></h1></li>
                <li><a href="/news" ng-click="navCollapsed = true"><span class="fa fa-bullhorn"></span> News</a></li>
                <li><a href="/support" ng-click="navCollapsed = true"><span class="fa fa-comments"></span> Support</a></li>
            </ul>

            <ul id="navbar-social" class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/api-platform/api-platform" title="GitHub" target="_blank" ng-click="navCollapsed = true"><span
                        class="fa fa-github"></span> <span class="text">GitHub</span></a></li>
                <li><a href="https://twitter.com/ApiPlatform" title="Twitter" target="_blank" ng-click="navCollapsed = true"><span class="fa fa-twitter"></span> <span class="text">Twitter</span></a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<div ui-view></div>

<div id="footer" class="slide">
    <footer class="container">
        <div>
            <iframe src="https://ghbtns.com/github-btn.html?user=api-platform&repo=api-platform&type=star&count=true&size=small"
                    frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
            <a href="https://twitter.com/ApiPlatform" class="twitter-follow-button" data-show-count="true"
               data-show-screen-name="false">Follow @ApiPlatform</a>
        </div>

        <p>
            &copy; <a href="https://dunglas.fr" target="_blank">Kévin Dunglas</a> 2015. A product by <a
                href="https://les-tilleuls.coop" target="_blank">Les-Tilleuls.coop</a>.<br>
            Code licensed under <a href="https://github.com/dunglas/api-platform/blob/master/LICENSE" target="_blank">MIT</a>,
            documentation under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
        </p>
    </footer>
</div>

<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67501746-1', 'auto');
    ga('send', 'pageview');
</script>

<!-- build:js(.) /scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/anchor-js/anchor.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/prism/prism.js"></script>
<!-- endbower -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/prism/components/prism-php.js"></script>
<script src="bower_components/prism/components/prism-yaml.js"></script>
<script src="bower_components/prism/components/prism-javascript.js"></script>
<script src="bower_components/prism/components/prism-markup.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/directives/calavera.js"></script>
<script src="scripts/controllers/layout.js"></script>
<script src="scripts/controllers/doc.js"></script>
<script src="scripts/controllers/download.js"></script>
<script src="scripts/controllers/news.js"></script>
<!-- endbuild -->

<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
