body,
html {
  background-color: var(--contrast-bg);
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;

  @include mq($max-width: $vw-mobile-menu) {
    &.open {
      overflow: hidden;
    }
  }
  &.modal-open {
    overflow: hidden;
  }
}

#___gatsby {
  height: 100%;
}
