/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
code,
code[class*='language-'],
pre[class*='language-'] {
  color: var(--code-base);
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 1.4;
  direction: ltr;
  cursor: text;
}

pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: $text-small;

  span {
    font-family: inherit;
  }
}

li code,
p code,
table code {
  margin: 0;
  border-radius: 3px;
  padding: .2em 0;
}

:not(pre) > code[class*='language-'],
code,
pre[class*='language-'] {
  background: var(--code-background);
}

:not(pre) > code[class*='language-'] {
  padding: .1em;
  border-radius: .3em;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--code-comment);
}

.token.atrule,
.token.attr-value,
.token.punctuation,
.token.string {
  color: var(--code-string);
}

.token.property,
.token.tag {
  color: var(--code-tag);
}

.token.boolean,
.token.number {
  color: var(--code-boolean);
}

.token.attr-name,
.token.attr-value .punctuation:first-child,
.token.important,
.token.keyword,
.token.regex,
.token.selector {
  color: var(--code-selector);
}

.language-css .token.string,
.token.entity,
.token.operator,
.token.url {
  color: var(--code-url);
}

.token.entity {
  cursor: help;
}

.namespace {
  opacity: .7;
}

.token.inserted {
  background-color: #eaffea;
  color: #55a532;
}

.token.deleted {
  background-color: #ffecec;
  color: #bd2c00;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
