@mixin reset-title {
  padding: 0;
  background: none;
  margin: 0;
  color: inherit;
  text-transform: none;
}

h1, .h1-like {
  @include reset-title;
  font-size: $title-big;
  line-height: $title-big;
  font-weight: $light;
  font-family: $fontTitle;

  strong {
    font-family: $fontTitle;
    font-weight: $bold;
  }
}

h2, .h2-like {
  @include reset-title;
  font-size: $title-medium;
  font-weight: $bold;
  color: var(--title-color);
  font-family: $fontTitle;
}

h3, .h3-like {
  @include reset-title;
  font-size: $title-small;
  font-family: $fontTitle;
  font-weight: $bold;
  color: var(--title-color);
  line-height: $title-small;
}

h4, .h4-like {
  @include reset-title;
  font-size: $text-big;
  font-family: $font;
  font-weight: $light;
  line-height: 1.4;
}

h5, .h5-like {
   @include reset-title;
  font-size: $text-medium;
  font-weight: $bold;
  color: inherit;
}

.h1-like + .h4-like {
  margin: 8px 0 20px;
}
