@mixin reset-title {
  padding: 0;
  background: none;
  margin: 0;
  color: inherit;
  text-transform: none;
}

h1, .h1-like {
  @include reset-title;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: $light;
  font-family: $fontTitle;

  strong {
    font-family: $fontTitle;
    font-weight: $bold;
  }
}

h2, .h2-like {
  @include reset-title;
  font-size: 2.8rem;
  font-weight: $normal;
  color: $darkblue;
  font-family: $fontTitle;
}

h3, .h3-like {
  @include reset-title;
  font-size: 2rem;
  font-family: $fontTitle;
  font-weight: $bold;
  color: $darkblue;
  line-height: 2rem;
}

h4, .h4-like {
  @include reset-title;
  font-size: 1.8rem;
  font-family: $font;
  font-weight: $light;
  line-height: 1.4;
}

h5, .h5-like {
   @include reset-title;
  font-size: 1.6rem;
  font-weight: $bold;
  color: inherit;
}

.h1-like + .h4-like {
  margin: 8px 0 20px;
}
