.colouring {
  .colouring__grid {
    transform: translateY(-50px);
  }
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header__image {
    width: 33%;
  }
  .header__text {
    flex: 1;
    padding-left: 10px;
    a {
      color: $white;
    }
    p {
      padding-bottom: 15px;
    }
  }
  @include mq($max-width: $vw-medium) {
    .header__container {
      flex-direction: column;
    }
    .header__image {
      width: 50%;
    }

    .header__text {
      padding-left: 0px;
    }
  }
}
