.logos {
  .logo__checkerboard {
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: $lightgrey;
    background-image: linear-gradient(
        45deg,
        $grey 25%,
        transparent 25%,
        transparent 75%,
        $grey 75%
      ),
      linear-gradient(
        45deg,
       $grey 25%,
        transparent 25%,
        transparent 75%,
        $grey 75%
      );
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
  }
  .logo__grid {
    transform: translateY(-50px);
  }
  .logo__card {
    .card__bottom {
      width:100%;
      display: flex;
      padding: 10px;
    }
    .logo__options {
      flex: 1;
      margin-right: 10px;
      &:not(.withFormat) {
        .logo__types {
          transform: translateY(15px);
          border-color: transparent;
        }
        .logo__formats {
          transition: transform ease-out 0.3s, opacity ease-out 0.3s;
          opacity: 0;
          transform: translateY(-15px);
          pointer-events: none;
          z-index:-1;
        }
      }
    }
    .logo__types {
      border-bottom:1px dotted $grey;
    }
    .logo__types, .logo__formats {
      position: relative;
      transition: transform ease-out 0.2s, border-color ease-out 0.2s;
      width: 100%;
      min-height: 30px;
      display: flex;
      align-items: center;
    }
    .logo__formats {
      transition: transform ease-out 0.3s 0.2s, opacity ease-out 0.3s 0.2s;
    }
    .logo__type, .logo__format {
      display: inline-flex;
      align-items: center;
      margin-right: 10px;
      font-size: $text-extrasmall;
      font-weight: $bold;
      color: $darkgrey;
      padding: 5px 0;
      &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $darkgrey;
        margin-right: 3px;
        transition: all ease 0.3s;
      }
      &.active {
        color: $darkblue;
        &:before {
          border-color: $blue;
          background-color: $lightblue;
        }
      }
    }
    .logo__type {
      text-transform: uppercase;
      font-size: $text-small;
    }
    .logo__button {
      span[class^="icon-"] {
        padding: 0;
      }
    }
  }
}
