.card {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $white;
  vertical-align: top;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;

  &.transparent {
    background: none;
    box-shadow: none;
  }

  &.bordered {
    background: none;
    box-shadow: none;
    border: 3px solid $blue;
  }

  &.p-10 {
    padding: 10px;
  }

  &.small {
    font-size: 0.9em;
  }

  &.horizontal {
    flex-direction: row;
    .card__content {
      min-height: 100%;
      text-align: left;
    }
    .avatar {
      margin-right: 10px;
    }
  }

  .card__content {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .card__title {
    @include reset-title;
    font-size: 2em;
    font-family: $fontTitle;
    font-weight: $bold;
    color: $darkblue;
    line-height: 1;
  }

  .card__autosize {
    flex: auto;
  }

  @include mq($min-width: $vw-large + 1) {
    &.big {
      .card__title {
        font-size: 2.8em;
      }
      .avatar {
        width: 300px;
        height: 300px;
        flex: 0 0 300px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
