.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  width: 100%;

  color: var(--text);
  background-color: var(--bg);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

  @include mq($min-width: $vw-medium + 1) {
    &.clickable {
      cursor: pointer;
      transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
      &:hover {
        box-shadow: rgba(45, 45, 45, 0.06) 0px 2px 2px, rgba(49, 49, 49, 0.06) 0px 4px 4px,
          rgba(42, 42, 42, 0.06) 0px 8px 8px, rgba(32, 32, 32, 0.06) 0px 16px 16px, rgba(49, 49, 49, 0.06) 0px 32px 32px,
          rgba(35, 35, 35, 0.06) 0px 64px 64px;
        transform: translateY(-4px);
      }
    }
  }

  &.transparent {
    background: none;
    box-shadow: none;
  }

  &.bordered {
    border: 3px solid $blue;
    background: none;
    box-shadow: none;
  }

  &.nopadding {
    padding: 0;
  }

  &.small {
    font-size: 0.9em;
  }

  &.horizontal {
    flex-direction: row;
    .card__content {
      min-height: 100%;
      text-align: left;
    }
    .avatar {
      margin-right: 10px;
    }
  }

  .card__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .card__title {
    @include reset-title;
    color: var(--title);

    font-size: $title-small;
    font-family: $fontTitle;
    font-weight: $bold;
    line-height: 1;
  }

  .card__autosize {
    flex: auto;
  }

  @include mq($min-width: $vw-large + 1) {
    &.big {
      .card__title {
        font-size: $title-medium;
      }
      .avatar {
        flex: 0 0 300px;
        width: 300px;
        height: 300px;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
