.grid__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.left {
    justify-content: flex-start;
  }
}

.grid__item {
  display: flex;
  padding: 15px;
  width: calc(100% / 3);

  @include mq($min-width: $vw-large + 1) {
    &.full {
      width: 100%;
    }
  }

  @include mq($max-width: $vw-large) {
    padding: 15px;
    width: 50%;
    min-width: 350px;
    max-width: 400px;
  }

  @include mq($max-width: $vw-medium) {
    padding: 10px;
    width: 100%;
    min-width: auto;
  }

  &.p-10 {
    padding: 10px;
  }

  &.p-5 {
    padding: 5px;
  }

  &.no-min {
    min-width: auto;
  }
  &.auto {
    width: auto;
  }
}
