.preheader {
  position: relative;
  height: var(--headerMessageH);
  z-index: z('header') + 2;
  @include bg-con;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid $lightblue;
  padding: 0 40px;
  @include mq($min-width: $vw-small + 1, $max-width: $vw-medium) {
    justify-content: space-between;
  }

  @include mq($max-width: $vw-medium) {
    padding: 0 20px;
  }
}
.preheader-con img {
  @include mq($max-width: $vw-small) {
    width: 120px;
  }
}
.preheader-con__web {
  height: 300%;
  position: absolute;
  left: 90%;
  transform: translate(-50%, -50%);
  top: 50%;
  @include mq($min-width: $vw-small + 1, $max-width: $vw-medium) {
    left: 50%;
  }
}
.preheader-con__text {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 5px 40px;
  p {
    font-size: 14px;
  }
  @include mq($max-width: $vw-large) {
    p {
      display: none;
    }
  }
  @include mq($min-width: $vw-small + 1, $max-width: $vw-medium) {
    display: none;
  }
  @include mq($max-width: $vw-small) {
    padding: 5px 0px 5px 20px;
    font-size: 14px;
    strong {
      display: block;
    }
  }
}
.preheader-con__button {
  position: relative;
  .button__content {
    background-color: #d52189 !important;
    border-color: #d52189 !important;
    color: #fff !important;
    &:hover {
      background-color: #ac106a !important;
      border-color: #ac106a !important;
    }
  }
  @include mq($max-width: $vw-small) {
    display: none;
  }
}

.is-doc .preheader {
  display: none;
}
