@font-face {
  font-family: "fontcustom";
  src: url("./Font-Awesome-Docker-Icon/fontcustom/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot");
  src: url("./Font-Awesome-Docker-Icon/fontcustom/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot?#iefix") format("embedded-opentype"),
       url("./Font-Awesome-Docker-Icon/fontcustom/fontcustom_cb066050d5b786186aa0e7f121427d8b.woff") format("woff"),
       url("./Font-Awesome-Docker-Icon/fontcustom/fontcustom_cb066050d5b786186aa0e7f121427d8b.ttf") format("truetype"),
       url("./Font-Awesome-Docker-Icon/fontcustom/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./Font-Awesome-Docker-Icon/fontcustom/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-docker:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-docker:before { content: "\f100"; }

.logos {
  text-align: center;

  img {
    display: block;
    margin: 15px auto;
    filter: grayscale(100%);
    transition: filter 200ms linear;

    &:hover { filter: grayscale(0%); }
  }
  img[alt="ExaqtWorld"] {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
