/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// API Platform variables
$deeper-blue: #3faab4;
$lighter-blue: #bee8ec;
$lighter-blue2: #abe7ec;
$white: #fff;
$navbar-inverse-link-color: #85ccd3;
$text-color: #253032;
$link-color: $deeper-blue;
$navbar-inverse-bg: $text-color;
$btn-primary-bg: $text-color;
$navbar-inverse-border: $navbar-inverse-bg;
