.conf {
  .speaker__conference-slot {
    display: flex;
    flex-direction: row;
    background: #fff;
    @include z-depth-3;

    @include mq($max-width: $vw-medium) {
      flex-direction: column;
    }
    .conference__track {
      width: 200px;
      text-align: center;
      background: var(--blue);
      color: #fff;
      padding: 20px;
      @include flex-center;
      font-weight: 900;
      .overline {
        font-weight: 500;
      }
      @include mq($max-width: $vw-medium) {
        width: 100%;
      }
    }
    .conference__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      padding: 20px 40px;
      text-align: left;
      p {
        font-size: 14px;
      }
      @include mq($max-width: $vw-small) {
        padding: 20px;
      }
    }
  }

  .conf__speaker-profile {
    padding-top: 80px;
    position: relative;
    z-index: 5;
    .speaker__job {
      color: #fff;
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
      font-size: 20px;
    }
    .speaker__about {
      background: var(--lightgrey);
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 90px 40px 20px;
      margin-top: 50px;
      .circle__picture {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        overflow: hidden;
        -webkit-mask-image: -webkit-radial-gradient(white, black); // fix safari circle crop issue
      }
      @include mq($max-width: $vw-large) {
        .circle__picture {
          border-radius: 50%;
          width: 280px;
          height: 280px;
        }
      }
      @include mq($max-width: $vw-medium) {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
      }
      @include mq($max-width: $vw-small) {
        padding: 50px 20px 100px;
        .circle__picture {
          border-radius: 50%;
          width: 200px;
          height: 200px;
        }
      }
    }
    .schedule__title {
      font-weight: 900;
      padding-bottom: 10px;
      border-bottom: 5px solid var(--blue);
      @include mq($max-width: $vw-medium) {
        text-align: center;
      }
    }

    .speaker__details {
      flex: 1;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .anchor {
        display: none;
      }
      h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        @include lined;
        @include mq($min-width: $vw-medium + 1) {
          @include lined-left;
          text-align: left;
        }
        margin-bottom: 20px;
      }

      p {
        line-height: 1.5;
        text-align: justify;
        font-size: 18px;
      }
      .social__list {
        justify-content: flex-start;
        a:first-child {
          margin-left: 0;
        }
      }
      @include mq($max-width: $vw-medium) {
        align-items: center;
      }
    }
    .speaker__picture {
      margin-bottom: 30px;
    }
    .speaker__schedule {
      text-align: left;
      width: 100%;
      max-width: 800px;
      margin: 50px auto -60px;
    }
  }
}
