.conf__contact {
  background: #fff;
  z-index: 4;
  position: relative;
  .contact__card {
    @include blue-gradient;
    @include z-depth-5;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    &:after {
      content: '';
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      position: absolute;
      border: 2px dotted #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 0;
      opacity: 0.5;
    }
  }
  .contact__spider {
    width: 30%;
    position: relative;
    z-index: 1;
    img {
      height: 200px;
      transform: translateY(-10px);
    }
    @include mq($max-width: $vw-small) {
      display: none;
    }
  }
  .contact__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .contact__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
  .contact__icons {
    display: flex;
    flex-direction: row;
  }
  .overline {
    font-weight: 600;
  }
  .conf__button {
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: #fff;
    color: var(--darkblue);
    background-image: linear-gradient(30deg, #fff 50%, transparent 50%);

    &:hover {
      color: #fff !important;
    }
  }
  .contact__social {
    a {
      border-radius: 50%;
      border: 2px solid #fff;
      width: 36px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 20px;
      margin: 5px;
      position: relative;
      overflow: hidden;
      background-image: linear-gradient(-120deg, #fff 50%, transparent 50%);
      background-size: 300%;
      background-repeat: no-repeat;
      background-position: 0%;
      transition: all 300ms ease-in-out;
      filter: none;

      & > * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-position: 100%;
        color: var(--blue);
      }
    }
  }
}
