.conf__cover {
  font-family: 'Poppins', sans-serif;
  padding: 70px 30px 20px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;

  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: static;
  }

  & > .conf__button {
    margin: 20px 0;
  }

  .conf__cover-baseline {
    font-size: 32px;
    padding: 50px 0;
    font-weight: 400;
  }

  .conf__cover-date {
    text-transform: uppercase;
    font-size: 18px;
    border: 2px solid #fff;
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 40px;
  }

  .conf__cover-logo {
    width: 100%;
    max-width: 800px;
    img {
      max-height: 30vh;
    }
  }

  .web-line {
    fill: none;
    stroke: #67cece;
    stroke-dasharray: 1 5;
    // animation: dash 2s infinite linear;
    transform-origin: center center;
  }

  .conf__cover-web {
    position: absolute;
    z-index: 0;
    height: 100vh;
    transform: translate3d(-50%, -50%, 0);
    left: 80%;
    top: 50%;
    opacity: 0.6;
    pointer-events: none;
  }

  .conf__cover-wave {
    position: absolute;
    z-index: 0;
    bottom: 0;
    opacity: 0.3;
    height: 60vh;
    max-width: none;
    right: 22%;
    top: 58%;
    transform: translateY(-50%) rotate(10deg);
  }
}
