.conf__partners {
  padding-top: 50px;
  .partners__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .partners__item {
    display: flex;
    align-items: center;
    @include grayscale-effect(0.5);
    padding: 15px 15px 30px;
    width: calc(100% / 6);

    img {
      max-width: 90%;
    }
  }
  @include mq($max-width: $vw-large) {
    .partners__item {
      width: calc(100% / 4);;
    }
  }
  @include mq($max-width: $vw-medium) {
    .partners__item {
      width: calc(100% / 3); ;

    }
  }
  @include mq($max-width: $vw-small) {
    .partners__grid {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .partners__item {
      width: 100%;
    }
  }
}
