.conf__speakers {
  background-color: #fff;
  min-height: 100vh;
  z-index:1;
  position: relative;
}

.conf__speaker-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  .circle {
    border-radius: 50%;
    overflow: hidden;
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: var(--blackblue);
      opacity: 0;
      left: 50%;
      top: 50%;
      transition: all ease 0.5s;
      transform: translate(-50%, -50%) scale(1);
      border-radius: 50%;
    }
    .circle__picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.8s;
    }
    .circle__plus {
      fill: #fff;
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 50%;
      width: 100px;
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }
  .hoverable {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    .infos,
    .lined,
    .lined:after,
    .circle__plus {
      transition: all ease 0.3s;
    }
    .circle__effect {
      width: 270px;
      height: 270px;
      max-width: none;
      position: absolute;
      left: 50%;
      top: 120px;
      transition: transform ease 1s;
      transform: translate(-50%, -50%);
    }

    &:hover {
      color: var(--blue);
      .infos {
        color: var(--blue);
        transform: translateY(-10px);
      }
      .circle__effect {
        transform: translate(-50%, -50%) rotate(50deg);
      }
      .circle {
        .circle__picture {
          width: 110%;
          height: 110%;
        }
        .circle__plus {
          width: 50px;
          opacity: 1;
        }
        &:after {
          opacity: 0.5;
          transform: translate(-50%, -50%) scale(0.95);
        }
      }
      .lined {
        transform: translateY(20px);
        &:after {
          background-color: var(--darkblue);
          bottom: calc(100% + 10px);
          width: 40px;
        }
      }
    }
  }
  .speaker__social {
    a {
      border-radius: 50%;
      border: 2px solid var(--blue);
      width: 36px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--blue);
      font-size: 20px;
      margin: 5px;
      position: relative;
      overflow: hidden;
      background-image: linear-gradient(-120deg, var(--blue) 50%, transparent 50%);
      background-size: 300%;
      background-repeat: no-repeat;
      background-position: 0%;
      transition: background 300ms ease-in-out;
      filter: none;

      & > * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-position: 100%;
        color: #fff;
      }
    }
  }
}
