.conf {
  .conf__modal {
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    .modal__overlay {
      width: 100%;
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .modal__content {
      max-width: 800px;
      margin: auto;
      width: 100%;
      height: 90%;
      padding-top: 50px;
      background: #fff;
      position: relative;
    }

    .modal__close {
      width: 40px;
      height: 40px;

      position: absolute;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      transition: all ease 0.5s;
      color: var(--blue);

      &:hover {
        transform: rotate(90deg);
        background: var(--blue);
        color: #fff;
      }

      .close__line {
        position: relative;
        width: 100%;
        height: 100%;
        &:before,
        &:after {
          background: currentColor;
          position: absolute;
          content: '';
          height: 3px;
          width: 80%;
          top: 50%;
          left: 50%;
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}
