.conf {
  .conf__covid {
    position: relative;
    z-index: 2;
    padding: 30px 0;

    .covid__warning {
      transform: translateY(-20px);
      p {
        color: #fff;
      }
      a {
        color: var(--lightblue);
      }
    }
    .covid__grid {
      display: grid;
      width: 800px;
      margin: 10px auto 30px;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      @include mq($max-width: $vw-medium) {
        width: 500px;
      }
    }
    .covid__measure {
      position: relative;
      width: calc(100% - 90px);
      margin-left: 90px;

      .covid__content {
        position: relative;
        z-index: 2;
        @include flex-center;
        background: #fff;
        @include z-depth-3;
        height: 80px;
        padding: 10px 50px;
      }

      p {
        margin: 0;
      }
      .covid__icon {
        width: 90px;
        height: 70px;
        padding: 5px;
        @include blue-gradient;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        z-index: -1;
      }
    }
  }
}
