.conf {
  .conf__sponsoring {
    .sponsoring__item {
      @include grayscale-effect(0.5);
      a {
        height: 90px;
        @include flex-center(column);
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .conf__sponsorcard {
    @include z-depth-3;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    margin: 10px auto -100px;
    position: relative;
    .sponsorcard__title {
      @include blue-gradient;
      color: #fff;
    }
    .sponsorcard__list {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
      }
      .point__arrow {
        margin-right: 10px;
      }
    }
    @include mq($max-width: $vw-medium) {
      flex-direction: column;
    }
  }
}
