.conf__contact {
  background: #fff;
  z-index: 4;
  position: relative;
  .contact__card {
    @include blue-gradient;
    @include z-depth-5;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    @include absolute-center(50%, 0);

    &:after {
      content: '';
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      @include absolute-center;
      border: 2px dotted #fff;
      pointer-events: none;
      z-index: 0;
      opacity: 0.5;
    }
  }
  .contact__spider {
    width: 30%;
    position: relative;
    z-index: 1;
    img {
      height: 200px;
      transform: translateY(-10px);
    }
    @include mq($max-width: $vw-small) {
      display: none;
    }
  }
  .contact__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .contact__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
  .contact__icons {
    display: flex;
    flex-direction: row;
  }
  .overline {
    font-weight: 600;
  }
  .conf__button {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
