@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

.conf {
  --blackblue: #001226;
  --blackblue-rgb: #{hexToRGB(#001226)};

  --clearblue: #d1eae9;
  --lightblue: #67cece;
  --blue: #2FC1C1;
  --darkblue: #299a9b;
  --darkestblue: #2e5a5c;
  --pink: #c32186;
  --lightgrey: #eff4f7;
}
