.conf {
  .conf__speaker-circle {
    @include flex-center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    .circle {
      border-radius: 50%;
      overflow: hidden;
      width: 240px;
      height: 240px;
      margin-bottom: 30px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: var(--blackblue);
        opacity: 0;
        left: 50%;
        top: 50%;
        transition: all ease 0.5s;
        transform: translate(-50%, -50%) scale(1);
        border-radius: 50%;
      }
      .circle__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease 0.8s;
      }
      .circle__plus {
        @include absolute-center;
        fill: #fff;
        z-index: 3;
        width: 100px;
        opacity: 0;
      }
    }
    .conf__speaker-content {
      text-align: center;
      @include flex-center(column);
      .circle__effect {
        width: 270px;
        height: 270px;
        max-width: none;
        transition: transform ease 1s;
        @include absolute-center(50%, 120px);
      }
      .infos {
        .overline {
          margin-bottom: 3px;
          display: block;
        }
      }

      &.hoverable {
        &:not(.disabled) {
          cursor: pointer;
        }
        .infos,
        .lined,
        .lined:after,
        .circle__plus {
          transition: all ease 0.3s;
        }

        &:hover {
          color: var(--blue);
          .infos {
            color: var(--blue);
            transform: translateY(-10px);
          }
          .circle__effect {
            transform: translate(-50%, -50%) rotate(50deg);
          }
          .circle {
            .circle__picture {
              transform: scale(1.05);
            }
            .circle__plus {
              width: 50px;
              opacity: 1;
            }
            &:after {
              opacity: 0.5;
              transform: translate(-50%, -50%) scale(0.95);
            }
          }
          .lined {
            transform: translateY(20px);
            &:after {
              background-color: var(--darkblue);
              bottom: calc(100% + 10px);
              width: 40px;
            }
          }
        }
      }
    }
    .speaker__social {
      @include flex-center(row);
      a {
        border-radius: 50%;
        border: 2px solid var(--blue);
        width: 36px;
        height: 36px;
        @include flex-center;
        color: var(--blue);
        font-size: 20px;
        margin: 5px;
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(-120deg, var(--blue) 50%, transparent 50%);
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: 0%;
        transition: background 300ms ease-in-out;
        filter: none;

        & > * {
          @include absolute-center;
        }
        &:hover {
          background-position: 100%;
          color: #fff;
        }
      }
    }
  }
}
