.conf {
  .conf__legal {
    padding-top: 70px;
    position: relative;
  }
  .legal__content {
    background: var(--lightgrey);
    padding: 50px 50px 150px;
    h1 {
      display: none;
    }
    p {
      margin-bottom: 30px;
      line-height: 1.6;
    }
    h2 {
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 900;
      color: var(--darkblue);
      @include lined;
      @include lined-left;
      margin-bottom: 10px;
      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 10px;
      color: var(--darkestblue);
    }
    ul {
      list-style: circle;
      padding-left: 40px;
    }
    li {
      line-height: 1.6;
      margin-bottom: 10px;
    }
    .anchor {
      display: none;
    }
  }
}
