$white: #fff;
$black: #1d1e1c;
$blackblue: #253032;
$clearblue: #c4f0f0;
$lightblue: #68cdce;
$blue: #2895a0;
$darkblue: #1f7079;

$darkgrey: #757575;
$grey: #babdb5;
$lightgrey: #f4f4f4;

$primaryColor: $blue;

$palette2: (
  white: $white,
  black: $black,
  blackblue: $blackblue,
  clearblue: $clearblue,
  blue: $blue,
  darkblue: $darkblue,
  darkgrey: $darkgrey,
  lightgrey: $lightgrey
);

$palette: (
  grey: (
    base: $grey,
    light: $lightgrey,
    dark: $darkgrey
  ),
  blue: (
    base: $blue,
    light: $lightblue,
    dark: $darkblue,
    extralight: $clearblue,
    extradark: $blackblue
  ),
  white: (
    base: $white
  ),
  black: (
    base: $black
  )
);

body {
  --bg: #{$lightgrey};
  --content-bg: #{$white};
  --text-color: #{$blackblue};
  --title-color: #{$darkblue};
  --link-color: #{$darkblue};
  --bg-blue: #{$darkblue};
  --bg-active-blue: #{$lightblue};
  --search-focus: rgba(#{$clearblue}, 0.5);
  --table-odd: #f9f9f9;
  --site-link-menu-color: #{$white};
  --icon-opacity: .5;
}

body.dark {
  --bg: #253032;
  --content-bg: #36393e;
  --text-color: #{$white};
  --title-color: #f0f0f0;
  --link-color: #{$lightblue};
  --bg-blue: #{$blue};
  --search-focus: #{$white};
  --table-odd: #36393e;
  --icon-opacity: 1;
}
