$white: #fff;
$black: #151c1e;
$blackblue: #1c3335;
$clearblue: #c4f0f0;
$lightblue: #68cdce;
$blue: #2895a0;
$darkblue: #1f7079;

$darkgrey: #757575;
$grey: #babdb5;
$lightgrey: #f4f4f4;

$palette2: (
  white: $white,
  black: $black,
  blackblue: $blackblue,
  clearblue: $clearblue,
  blue: $blue,
  darkblue: $darkblue,
  darkgrey: $darkgrey,
  lightgrey: $lightgrey
);

$palette: (
  grey: (
    base: $grey,
    light: $lightgrey,
    dark: $darkgrey
  ),
  blue: (
    base: $blue,
    light: $lightblue,
    dark: $darkblue,
    extralight: $clearblue,
    extradark: $blackblue
  ),
  white: (
    base: $white
  ),
  black: (
    base: $black
  )
);

body {
  --bg: #{$white};
  --light-bg: #{rgba($clearblue, 0.3)};
  --contrast-bg: #{$lightgrey};
  --text: #{$blackblue};
  --contrast-text: #{$blue};
  --title: #{$darkblue};
  --contrast-title: #{$blue};
  --focus: #{rgba($clearblue, 0.5)};
  --link: #{$darkblue};
  --contrast-link: #{$blue};
  --focus-contrast-link: #{darken($blue, 10%)};
  --secondary-bg: #{$darkblue};
  --secondary-contrast-bg: #{rgba($blackblue, 0.2)};
  --contrast: #{$clearblue};
  --icon-opacity: .5;
  --table-odd: #f9f9f9;

  --search-placeholder: #{rgba($black, 0.4)};

  --code-background: #f7f7f7;
  --code-base: #333;
  --code-comment: #969896;
  --code-string: #183691;
  --code-tag: #63a35c;
  --code-boolean: #0086b3;
  --code-selector: #795da3;
  --code-url: #a71d5d;
}

body.dark {
  --bg: #{$blackblue};
  --light-bg: #{rgba($darkblue, 0.3)};
  --contrast-bg: #{$black};
  --text: #{$white};
  --contrast-text: #{$lightgrey};
  --title: #{$lightblue};
  --contrast-title: #{$clearblue};
  --focus: #{$darkblue};
  --link: #{$lightblue};
  --contrast-link: #{$clearblue};
  --focus-contrast-link: #{darken($clearblue, 10%)};
  --secondary-bg: #{$blackblue};
  --secondary-contrast-bg: #{rgba($darkblue, 0.2)};
  --contrast: #{$darkblue};
  --logo-bg: #{$clearblue};
  --icon-opacity: 1;
  --table-odd: #36393e;

  --search-placeholder: #{rgba($white, 0.5)};

  --code-background: #{lighten($black, 5%)};
  --code-base: #a9b7c6;
  --code-comment: #808080;
  --code-string: #6a8759;
  --code-tag: #e8bf6a;
  --code-boolean: #6897bb;
  --code-selector: #cc7832;
  --code-url: #287bde;
}
