////
/// Dimensions
///
/// @group Settings
///
////

/// Max size of the page
$max-width: 1200px;
$page-padding: 40px;
$page-padding-mobile: 15px;

$blackLivesMatterH: 80px;
$footerH: 190px;
$headerH: 80px + $blackLivesMatterH;
$mobileHeaderH: 55px + $blackLivesMatterH;
$menuW: 260px;
$docmenuW: 300px;

$pageH: calc((100vh - #{$footerH}) - #{$headerH});
$mobilePageH: calc((100vh - #{$footerH}) - #{$mobileHeaderH});

/// Viewports sizes
/// They're used in media queries
$vw-thin: 320px;
$vw-small: 480px;
$vw-medium: 780px;
$vw-large: 1024px;
$vw-huge: $max-width;

$vw-mobile-menu: $vw-large;

/// Font weights

$bold: 700;
$normal: 400;
$light: 300;

$text-extrasmall: 1.2rem;
$text-small: 1.4rem;
$text-medium: 1.6rem;
$text-big: 1.8rem;
$text-xl: 2rem;

$textSizes: (
  xs: $text-extrasmall,
  small: $text-small,
  medium: $text-medium,
  big: $text-big,
  xl: $text-xl
);

$title-small: 2rem;
$title-medium: 2.8rem;
$title-big: 3.6rem;

$titleSizes: (
  small: $title-small,
  medium: $title-medium,
  big: $title-big,
)
