////
/// Dimensions
///
/// @group Settings
///
////

/// Max size of the page
$max-width: 1200px;
$page-padding: 40px;
$page-padding-mobile: 15px;

$headerMessageH: 0px;
$headerH: 70px;
$mobileHeaderH: 60px;
$menuW: 260px;
$docmenuW: 300px;

$pageH: calc(100vh - #{$headerH});
$mobilePageH: calc(100vh - #{$mobileHeaderH});

/// Viewports sizes
/// They're used in media queries
$vw-thin: 320px;
$vw-small: 480px;
$vw-medium: 780px;
$vw-large: 1024px;
$vw-huge: $max-width;

$vw-mobile-menu: $vw-huge;

/// Font weights
$extrabold: 900;
$bold: 700;
$normal: 400;
$light: 300;

$weightSizes: (
  bold: $bold,
  normal: $normal,
  light: $light,
  extrabold: $extrabold
);

$text-extrasmall: 1.2rem;
$text-small: 1.4rem;
$text-medium: 1.6rem;
$text-big: 1.8rem;
$text-xl: 2rem;

$textSizes: (
  xs: $text-extrasmall,
  small: $text-small,
  medium: $text-medium,
  big: $text-big,
  xl: $text-xl
);

$title-small: 2rem;
$title-medium: 2.8rem;
$title-big: 3.6rem;

$titleSizes: (
  small: $title-small,
  medium: $title-medium,
  big: $title-big
);

$spacingSizes: (
  0: 0px,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  30: 40px,
  40: 40px,
  50: 50px,
  auto: 'auto'
);
