@mixin underline ($color, $textColor:null) {
  border-bottom: 3px solid rgba($color, 0.5);

  &:hover {
    background-color: rgba($color, 0.5);
    @if($textColor) {
      color: $textColor;
    }
  }
}
