.community__contributors {
  color: var(--text);
  background-color: var(--bg);
  padding: 90px 0 50px;
  .contributors__grid {
    .grid__item {
      min-width: auto;
      width: 300px;
    }
  }
}

.contributors {
  color: var(--text);
  text-align: center;

  .contributors__header {
    border-bottom: 5px solid var(--contrast-bg);
  }

  .contributors__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    img {
      padding: 0 20px;
      max-height: 70px;
    }
  }

  @include mq($max-width: $vw-large) {
    .contributors__title {
      flex-direction: column;
      align-items: center;
      img:not(:first-child) {
        display: none;
      }
    }
  }

  .contributors__top {
    background-color: var(--bg);
  }

  .contributors__all {
    padding: 40px 0 50px;
  }

  .top__grid {
    transform: translateY(-50px);
  }

  .contributors-all__title {
    margin-bottom: 10px;
  }

  .contributors__main {
    padding: 20px 0 50px;
  }

  @include mq($max-width: $vw-large) {
    .top__grid {
      .grid__item {
        min-width: auto;
        width: 300px;
      }
    }
  }
}

.contributor__top {
  .card__title {
    margin-top: 10px;
    border-bottom: 4px dotted $blue;
    padding-bottom: 10px;
  }

  .avatar {
    position: relative;

    img {
      transition: all ease-out 0.6s;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;

      width: 100%;

      transform: translate(-50%, -50%) rotate(-90deg);
    }

    circle {
      fill: none;
      stroke: $lightblue;
      stroke-width: 20;
      stroke-dasharray: 1570.8;
      stroke-dashoffset: 1570.8;
      stroke-linecap: round;

      opacity: 0;
      transition: all ease-out 0.6s;
    }
  }

  &:hover {
    transform: translateY(-4px);

    .avatar {
      img {
        transform: scale(1.1);
      }
    }

    circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

  .contributor__statistic {
    color: var(--contrast-text);
    padding: 10px 0;
  }

  .statistic__value {
    font-size: 6em;
    font-weight: $bold;
    line-height: 0.8;
  }

  .statistic__title {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: $bold;
  }

  @include mq($min-width: $vw-large + 1) {
    &.big {
      flex-direction: row;

      width: auto;
      margin-left: auto;
      margin-right: auto;

      .card__content {
        margin-left: 10px;
      }
    }
  }
}

.contributor__card {
  color: var(--text);
  background-color: var(--contrast-bg);

  .card__content {
    justify-content: center;
  }

  .card__title {
    margin-bottom: 5px;
  }

  .contributor__contributions {
    color: var(--title);
    text-transform: uppercase;
    font-weight: $bold;
  }

  .contributor__badge {
    width: 40px;
  }

  .contributor__lines {
    color: var(--contrast-text);
    span {
      padding-right: 10px;

      &.no-stat {
        opacity: 0.5;
      }
    }
  }
}
