.community__contributors {
  background-color: $white;
  padding: 90px 0 50px;

  .contributors__title {
    color: $blue;
  }
}

.contributors {
  text-align: center;
  .contributors__header {
    background-color: $darkblue;
    color: $white;
    padding: 20px 0;
  }

  .contributors__top {
    padding: 40px 0;
    background-color: $white;
  }

  .contributors__all {
    padding: 40px 0 50px;
  }

  .contributors-top__title,
  .contributors-all__title {
    margin-bottom: 10px;
  }

  .contributors__main {
    padding: 20px 0 50px;
  }
}

.contributor__top {
  .card__title {
    margin-top: 10px;
    color: $blackblue;
    border-bottom: 4px dotted $blue;
    padding-bottom: 10px;
  }

  .contributor__statistic {
    padding: 10px 0;
    color: $blue;
  }

  .statistic__value {
    font-size: 6em;
    font-weight: $bold;
    line-height: 0.8;
  }

  .statistic__title {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: $bold;
  }
  @include mq($min-width: $vw-large + 1) {
    &.big {
      margin-left: auto;
      margin-right: auto;
      width: auto;
      flex-direction: row;
      .card__content {
        margin-left: 10px;
      }
    }
  }
}

.contributor__card {
  .card__content {
    justify-content: center;
  }
  .card__title {
    color: $blackblue;
    margin-bottom: 5px;
  }
  .contributor__contributions {
    text-transform: uppercase;
    font-weight: $bold;
    color: $darkblue;
    font-size: 1.2em;
  }
  .contributor__lines {
      color: $darkgrey;
      font-size: 1.2em;
      span {
        padding-right: 10px;
        &.no-stat {
          opacity: 0.5;
        }
      }
    }
}
