.contributor {
  min-height: calc(100vh - #{$headerH});
  padding-bottom: 50px;
  .contributor__main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .contributor__header {
    padding: 20px 0;
  }
  .header__content {
    padding-left: 430px;
    padding-top: 60px;
  }
  .contributor__card {
    @include z-depth-5;
    width: 400px;
    transform: translateY(-100px);
    padding: 0;
    display: flex;
    flex-direction: column;
    a {
      color: $white;
      font-weight: $bold;
      transition: all ease 0.3s;
      border-bottom: 3px solid transparent;
      white-space: nowrap;
      &:hover {
        color: $clearblue;
      }
    }
    .card__top {
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .avatar {
      margin-bottom: 10px;
    }
    .contributor__subtitle {
      font-size: $title-small;
      font-family: $fontTitle;
      font-weight: $bold;
    }
    .contributor__bio {
      margin: 24px auto 0;
      padding: 10px 0;
      position: relative;
      &:before,
      &:after {
        content: "";
        width: 150px;
        height: 1px;
        background-color: $clearblue;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
  }
  .contributor__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .contributor__info {
    font-size: $text-medium;
    line-height: 1;
    padding: 3px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    span[class^="icon-"],
    span[class*=" icon-"] {
      transition: margin ease 0.3s;
      margin-right: 5px;
    }
  }
  .contributor__content {
    padding-left: 30px;
    flex: 1;
  }
  .contributor__description {
    margin: 32px 0;
    a {
      padding: 0 3px;
      @include underline($lightblue, darken($darkblue, 10%));
    }
  }
  .contributor__projects {
    @include mq($min-width: $vw-large + 1) {
      justify-content: flex-start;
    }
  }
  .contributor__project {
    min-height: 150px;
    justify-content: center;
    .project__name {
      font-weight: $bold;
      text-align: center;
      line-height: 1.2;
      padding: 10px 0;
      span[class^="icon-"],
      span[class*=" icon-"] {
        margin-right: 5px;
      }
    }
    .project__contributions {
      text-transform: uppercase;
    }
    .project__lines {
      span {
        padding: 10px;
        &.no-stat {
          opacity: 0.5;
        }
      }
    }
  }
  @include mq($max-width: $vw-large) {
    .contributor__main {
      flex-direction: column;
      align-items: center;
    }
    .contributor__content {
      padding: 30px 0 0 0;
    }
    .contributor__card {
      transform: none;
      width: 90%;
    }
    .contributor__bio {
      max-width: 500px;
    }
    .contributor__header {
      .header__content {
        text-align: center;
        padding: 0 0 100px 0;
      }
    }
    .contributor__main {
      transform: translateY(-100px);
    }
    .contributor__projects {
      .grid__item {
      width: 200px;
      min-width: auto;
      }
    }
  }
  @include mq($min-width: $vw-medium, $max-width: $vw-large) {
    .contributor__infos {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
      justify-content: flex-start;
    }
    .contributor__info {
      flex: 1;
      padding: 0 20px;
    }
  }
  @include mq($max-width: $vw-small) {
    .contributor__header {
      display: none;
    }
    .contributor__main {
      transform: none;
    }
    .contributor__card {
      width: 100%;
    }
  }
}
