.community__events {
    background-color: $clearblue;
    padding: 20px 0 50px;
  }

  .community-events__title {
    margin-bottom: 10px;
  }

  .card__event {
    .card-event__infos {
      display: flex;
      margin-top: 10px;
      color: $blackblue;
      p {
        display: flex;
        align-items: center;
        line-height: 1.2;
        margin-right: 10px;
      }
      span[class^='icon-'], span[class*=' icon-'] {
        margin-right: 3px;
        color: $darkblue;
      }
    }
    .card-event__calendar {
      background-color: $blue;
      font-weight: $bold;
      width: 70px;
      color: $white;
      margin-right: 10px;
      transition: transform ease 0.3s;
      .calendar__month {
        position: relative;
        background-color: $darkblue;
        text-transform: uppercase;
        padding: 5px;
        font-size: 0.9em;
      }
      .calendar__day {
        font-size: 3em;
        padding: 8px 0;
      }
      .calendar__year {
        padding: 3px;
        border-top: 2px dotted $white;
        font-size: 0.9em;
      }
    }
    &:hover {
      @include z-depth-5;
      transform: scale(0.95);
      .card-event__calendar {
        transform: scale(0.9) rotate(10deg);
      }
    }
  }
