<div id="demo" class="container">
    <h1>Demonstration <span class="fa fa-mouse-pointer"></span></h1>

    <p>A blog application composed of a REST API and a web client built with AngularJS client are available for testing purpose:</p>

    <ul>
        <li><a href="https://api-platform-demo-blog-api.herokuapp.com">The API</a> (<a href="https://github.com/dunglas/blog-api">source code</a>)</li>
        <li><a href="https://dunglas.github.io/blog-client/">The client</a> (<a href="https://github.com/dunglas/blog-client">source code</a>)</li>
    </ul>

    <p>We recommend to use <a href="http://getpostman.com">Postman</a> to query the API.</p>

    <iframe src="https://dunglas.github.io/blog-client/" width="100%" height="700" class="embed-responsive-item"></iframe>
</div>
