<div id="download" class="container">
    <h1>Download API Platform <span class="fa fa-download"></span></h1>

    <p>Use <a href="https://getcomposer.org" target="_blank">Composer</a> to create a new project with API Platform pre-configured:</p>

    <div class="form-inline">
        <div class="form-group">
            <input id="command" type="text" class="form-control" value="composer create-project api-platform/api-platform my-project" size="56" readonly>
        </div>

        <button class="btn btn-primary" ng-click="copy()">Copy</button>
    </div>

    <p>Alternatively, you can download the source code from <a href="https://github.com/api-platform/api-platform" target="_blank">the
        GitHub repository</a>.</p>

    <p>To get started, <a href="/doc/">read the documentation</a>!</p>
</div>
