{
    # Debug
    {$CADDY_DEBUG}
}

{$SERVER_NAME}

# log
log {
	output file /var/log/caddy/access.log
}
# Matches requests for HTML documents, for static files and for Next.js files,
# except for known API paths and paths with extensions handled by API Platform
# @pwa expression `(
#         header({'Accept': '*text/html*'})
#         && !path ('/*', '/static*', '/docs*', '/api*', '/page-data*')
#     )
#     || path('/con/*', '/fr/con/*', '/favicon.ico', '/manifest.json', '/robots.txt', '/_next*', '/images/con/*')`
@pwa expression `path('/con/*','/con', '/fr/con/*', '/fr/con', '/en/con/*', '/en/con', '/favicon.ico', '/manifest.json', '/robots.txt', '/_next*', '/images/con*')`
    # || path('/favicon.ico', '/manifest.json', '/robots.txt', '/_next*', '/sitemap*')`

@bucket_s3 expression `(
    path('/*')
&& !path ('/con/*', '/con', '/fr/con/*', '/fr/con', '/en/con/*', '/en/con', '/favicon.ico', '/manifest.json', '/robots.txt', '/_next*', '/images/con/*')
)`

@withoutExtension not path_regexp \.\w+$
@withTld path_regexp \.(org|io|fr|com|pl|me|de|gg|dev)$
@withTrailingSlash path_regexp ^(.*)/+$

route {
    root * /srv/app/public
    # root * /{$BUCKET_S3_NAME}/
    mercure {
        # Transport to use (default to Bolt)
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        # Publisher JWT key
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES}
    }
    vulcain

    # Add links to the API docs and to the Mercure Hub if not set explicitly (e.g. the PWA)
    header ?Link `</docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation", </.well-known/mercure>; rel="mercure"`
    # Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
    header ?Permissions-Policy "browsing-topics=()"
    # Comment the following line if you don't want Next.js to catch requests for HTML documents.
    # In this case, they will be handled by the PHP app.

    reverse_proxy @pwa http://{$PWA_UPSTREAM}

    handle @bucket_s3 {

        reverse_proxy {$BUCKET_S3_UPSTREAM} {
            header_up Host {http.reverse_proxy.upstream.hostport}
        }

        # Handles DocumentIndices
        rewrite @withTld /{$BUCKET_S3_NAME}{path}/index.html
        rewrite @withTrailingSlash /{$BUCKET_S3_NAME}{path}index.html
        rewrite @withoutExtension /{$BUCKET_S3_NAME}{path}/index.html

        # Everything else should be prefixed
        rewrite * /{$BUCKET_S3_NAME}{path}
    }

    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
