.conf {
  .container {
    display: flex;
    flex-direction: column;
  }
  .conf__background {
    @include conf-gradient;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
  }
  .conf__content {
    z-index: 1;
  }
  .circle__effect {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-image: url('../../../../components/con/2021/images/circle.svg');
      background-repeat: no-repeat;
      width: 110%;
      height: 110%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: transform ease 1s;
      pointer-events: none;
    }
  }
  .hoverable:hover .circle__effect {
    &:before {
      transform: translate(-50%, -50%) rotate(50deg);
    }
  }
  .wave-line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 0 6;
    stroke: #67cece;
  }
  .conf__button {
    border-radius: 5px;
    padding: 10px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px solid var(--blue);
    background-image: linear-gradient(30deg, var(--blue) 50%, transparent 50%);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;
    cursor: pointer;
    @include mq($max-width: $vw-small) {
      padding: 8px 20px;
      font-size: 16px;
    }

    &:not(.disabled):hover {
      background-position: 100%;
      color: var(--blue);
    }

    &.small {
      font-size: 16px;
      padding: 5px 15px;
      @include mq($max-width: $vw-small) {
        font-size: 12px;
        padding: 5px 10px;
      }
    }

    &.square {
      border-radius: 0;
    }

    &.disabled {
      pointer-events: none;
    }

    &.empty {
      background-image: linear-gradient(30deg, transparent 50%, var(--blue) 50%);
      color: var(--blue);
      &:not(.disabled):hover {
        color: #fff;
      }
    }
    &.white {
      border-color: #fff;
      color: var(--darkblue);
      background-image: linear-gradient(30deg, #fff 50%, transparent 50%);

      &:hover {
        color: #fff !important;
      }
    }
  }

  .lined {
    @include lined;
    position: relative;
    padding-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 4px;
      left: 50%;
      bottom: 5px;
      background-color: var(--blue);
      transform: translateX(-50%);
      border-radius: 3px;
      transition: all ease 0.3s;
    }
    &.lined-left {
      @include lined-left;
    }
    &.lined-dark {
      @include lined(var(--darkblue));
    }
    &.lined-white {
      @include lined(#fff);
    }
  }

  .dotted-corner {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      width: 120px;
      height: 120px;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='100%' width='100%'><defs><pattern id='dots' width='6' height='6' patternTransform='rotate(45 0 0)' patternUnits='userSpaceOnUse'><circle cx='3' cy='3' r='1' style='stroke:none; fill:%232FC1C1'/></pattern></defs><rect width='100%' height='100%' fill='url(%23dots)'/></svg>");
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 0;
      left: 100%;
    }
    &.corner-bottom {
      &:before {
        top: 100%;
        left: 0;
      }
    }
    &.corner-over {
      &:before {
        z-index: 5;
      }
    }
  }

  .conf__section-subtitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    opacity: 0.6;
  }
  .conf__section-title {
    text-align: center;
    color: var(--blackblue);
    padding-top: 70px;
    padding-bottom: 30px;
    position: relative;

    & * {
      font-family: 'Poppins', sans-serif;
    }

    .h2 {
      position: relative;
      z-index: 1;
    }
    &.small {
      .h2 {
        font-size: 50px;
      }
    }

    .title__layer {
      position: absolute;
      user-select: none;
      z-index: 0;
      width: 200%;
      left: 50%;
      bottom: 70px;
      transform: translateX(-50%) scale(2);
      opacity: 0.15;
      color: var(--blue);
      @include mq($max-width: $vw-small) {
        bottom: 60px;
        transform: translateX(-50%) scale(1.5);
      }
    }

    &.dark {
      color: #fff;
      & > .title__layer {
        color: var(--pink);
      }
    }
  }
  .conf__warning {
    padding: 10px 20px;
    font-weight: 900;
    margin: 20px auto;
    text-align: left;
    border: 5px dotted var(--lightblue);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 700px;
    img {
      height: 60px;
      margin-right: 20px;
      @include mq($max-width: $vw-small) {
        display: none;
      }
    }
    .warning__content {
      color: var(--blackblue);
      .warning__body {
        font-size: 14px;
        opacity: 0.8;
      }
    }
    @include mq($max-width: $vw-medium) {
      max-width: 500px;
      margin: 20px auto 0;
    }
  }

  .social__list {
    @include flex-center(row);
    a {
      border-radius: 50%;
      border: 2px solid var(--blue);
      width: 36px;
      height: 36px;
      @include flex-center;
      color: var(--blue);
      font-size: 20px;
      margin: 5px;
      position: relative;
      overflow: hidden;
      background-image: linear-gradient(-120deg, var(--blue) 50%, transparent 50%);
      background-size: 300%;
      background-repeat: no-repeat;
      background-position: 0%;
      transition: background 300ms ease-in-out;
      filter: none;

      & > * {
        @include absolute-center;
      }
      &:hover {
        background-position: 100%;
        color: #fff;
      }
    }
    &.white {
      a {
        color: #fff;
        border: 2px solid #fff;
        background-image: linear-gradient(-120deg, #fff 50%, transparent 50%);
        &:hover {
          background-position: 100%;
          color: var(--blue);
        }
      }
    }
  }
}
