.conf {
  .conf__speakers {
    background-color: #fff;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    padding-bottom: 30px;
    text-align: center;
  }
  .conf__button {
    margin: 30px 0;
  }
}
